.header {
  font-weight: 700;
  text-align: center;

  font-size: 50px;
  color: #79a2d370;
  text-decoration: none;
}

.menu {
  display: flex;
  font-size: 30px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid #000000;
  margin: 0 15px;
  text-decoration: none;
}
