html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header,
footer,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

.swiper {
  width: 90%;
  height: 550px;
  margin-top: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
