.backgroun{
    width: 1000px;
    display: flex;
}
.myPageMenu{
    width: 230px;
    margin: 20px 0 0 250px;
    background-color: rgba(210, 174, 199, 0.501);
}

.cartBtn,
.wishListBtn,
.userInfoBtn{
    border: 1px solid #a29f9f;
    cursor: pointer;
    width: 200px;
    height: 45px;
    text-align: center;
    border-radius: 30px;
    margin: 15px;
    font-size: 18px;
    transition: 200ms;
    background-color: rgba(75, 57, 47, 0.237);
}

.checkbox{
    margin: 60px 0 0 20px;
}

.cartBtn:hover,
.wishListBtn:hover,
.userInfoBtn:hover{
    background-color: azure;
}

.myOrderList{
    width: 800px;
    margin-left: 50px;
}

.myOrder{
    width: 700px;
    height: 150px;
    display: flex;
    margin: 20px 0 0 45px;
    cursor: pointer;
    border: 1px solid #a29f9f;
    border-radius: 30px;
    background-color: rgba(252, 246, 235, 0.447);
}

.orderList{
    margin: 25px 0 0 20px;
    list-style: none;
}

.productImg{
    width: 160px;
    height: 120px;
    margin: 13px 15px 0 30px;
    border-radius: 30px;
}

.productName{
    font-size: 20px;
}

.productEa{
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.productPrice{
    font-size: 15px;
}

.finOrder{
    width: 700px;
    margin: 50px 0 0 100px;
    border-top: 1px solid #a29f9f;
}

.totalProduct,
.totalPrice{
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
}